

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    align-items: center;
    color: black;
  }
  
  .logo-container {
   padding-left: 20px;
  }
  
  .logo {
    width: 80px;
    height: 60px;
  }
  
  .nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-items li {
    margin-right: 20px;
    font-size: 16px;
  }

  .nav-items li:hover {
    cursor: pointer;
    color: orange;
  }
  .restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }

  .restaurant-card {
    width: 170px;
    height: 238px;
    padding-left: 20px;
    box-shadow: rgba(0,0,0.1) 2px 2px 8px;
    margin-bottom: 2rem;
  }

  .restaurant-card > img {
    height: 45%;
    width: 82%;
  }


  
  
  